<%- include('./common/header.ejs') %>
    <%- include('./common/navbar.ejs') %>
    
    <div id="main">
        <div class="container">
        <% for(let i=0; i<mangasData.length; i+=6) { %>
            <div class="row my-4">
                <% if(mangasData[i]) { %>
                    <div class="col-6 col-md-2">
                        <div class="card bg-dark text-white">
                            <img src="<%= mangasData[i].coverLink %>" class="card-img" alt="">
                            <div class="card-img-overlay">
                                <h5 class="card-title"><%= mangasData[i].title %></h5>
                            </div>
                        </div>
                    </div>
                <% } %>
                <% if(mangasData[i+1]) { %>
                    <div class="col-6 col-md-2">
                        <div class="card bg-dark text-white">
                            <img src="<%= mangasData[i+1].coverLink %>" class="card-img" alt="">
                            <div class="card-img-overlay">
                                <h5 class="card-title"><%= mangasData[i+1].title %></h5>
                            </div>
                        </div>
                    </div>
                <% } %>
                <% if(mangasData[i+2]) { %>
                    <div class="col-6 col-md-2">
                        <div class="card bg-dark text-white">
                            <img src="<%= mangasData[i+2].coverLink %>" class="card-img" alt="">
                            <div class="card-img-overlay">
                                <h5 class="card-title"><%= mangasData[i+2].title %></h5>
                            </div>
                        </div>
                    </div>
                <% } %>
                <% if(mangasData[i+3]) { %>
                    <div class="col-6 col-md-2">
                        <div class="card bg-dark text-white">
                            <img src="<%= mangasData[i+3].coverLink %>" class="card-img" alt="">
                            <div class="card-img-overlay">
                                <h5 class="card-title"><%= mangasData[i+3].title %></h5>
                            </div>
                        </div>
                    </div>
                <% } %>
                <% if(mangasData[i+4]) { %>
                    <div class="col-6 col-md-2">
                        <div class="card bg-dark text-white">
                            <img src="<%= mangasData[i+4].coverLink %>" class="card-img" alt="">
                            <div class="card-img-overlay">
                                <h5 class="card-title"><%= mangasData[i+4].title %></h5>
                            </div>
                        </div>
                    </div>
                <% } %>
                <% if(mangasData[i+5]) { %>
                    <div class="col-6 col-md-2">
                        <div class="card bg-dark text-white">
                            <img src="<%= mangasData[i+5].coverLink %>" class="card-img" alt="">
                            <div class="card-img-overlay">
                                <h5 class="card-title"><%= mangasData[i+5].title %></h5>
                            </div>
                        </div>
                    </div>
                <% } %>
            </div>
        <% } %>
        </div>
    </div>

<%- include('./common/footer.ejs') %>